[submodule "sub/frxml"]
	path = sub/frxml
	url = https://github.com/sharp0802/frxml
[submodule "sub/doxygen-awesome-css"]
	path = sub/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
